{% extends "main.html" %}

{% block content %}


<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <center><h1 class="panel-title">Authenticate With Bungie</h1>
                        <div class="panel-body">
                            <p>You must be logged into a Destiny Account to use this app.</p>
                            <a href={{ url }} class="btn btn-primary">Login</a>
                        </div>
                            </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}